@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: #191f36;
    color: #fff;
}
.home{
    min-height: 100vh;
    padding: 10rem 6% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 6%;
    background-color: #191f36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: default;
}